{% extends "layout.html" %}

{% block content %}
  <style>
    .title {
      color: #0096FF;
      font-family: Georgia;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }

    .image {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 25%;
    }
  </style>
  <script>
    var end_id = {{end_id|tojson}}
    console.log(end_id)
  </script>

  <script type="text/javascript" src="{{url_for('static', filename='game_end.js')}}"></script>

<body>
  <div class="container">
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-12" id="img_zone"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 title" id="text_zone"></div>
      <div class="col-md-3"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3"></div>
      <button class="btn btn-primary col-md-2" id="homeBtn" value="home">Back to Homepage</button>
      <div class="col-md-2"></div>
      <button class="btn btn-primary col-md-2" id="restartBtn" value="restart">Restart Game</button>
      <div class="col-md-3"></div>
    </div>
  </div>

</body>

{% endblock %}