{% extends "layout.html" %}

{% block content %}
  <style>
    .row {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .h1 {
      text-align: center;
      color: black;
    }

    .maintext {
      color: black;
      font-size: 20px;
      text-align: center;
    }

    .intel_font_title {
      font-family: Georgia;
      color: black;
      font-weight: bold;
    }

    .intel_font_text {
      font-family: Georgia;
      color: white;
    }

    .btn-primary {
      width: 200px;
      padding: 10px 10px;
      text-align: center;
      display: inline-block;
      font-size: 20px;
    }
  </style>

  <script>
    var card_dict = {{card_dict|tojson}}
    console.log(card_dict)
  </script>


  <script type="text/javascript" src="{{url_for('static', filename='welcome.js')}}"></script>

  <div class="row">
    <h1 class="col-md-12 h1 intel_font_title"> How to play Splendor? </h1>
  </div>
  <div class="row">
    <img class="col-md-12" src="https://cdn.akamai.steamstatic.com/steam/apps/376680/capsule_616x353.jpg?t=1705574815">
  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <button class="btn btn-primary intel_font_text" id="learn_button">Learn the Rules</button>
    <div class="col-md-2"></div>
    <button class="btn btn-primary intel_font_text" id="play_button">Play the Game</button>
    <div class="col-md-3"></div>
  </div>

{% endblock %}